<h1>Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li><%= link_to "#{song.artist.name.split.map(&:capitalize).join(' ')} - #{song.title.split.map(&:capitalize).join(' ')}", song_path(song) %></li>

  <% end %>
</ul>
